<div class="panel-body panel-height">
  <table class="table table-bordered">
   <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
    </tr>
   </thead>
   <tbody>
       <td> <%= @post.title %></td>
       <td> <%= @post.content %></td>
   </tbody>
  </table>
    <br></br>
</div>
